<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;
	color: white;
	background: darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #e0e0ff;
}

table.navi {
	width: 100%;
	background: white;
}

table.navi tr {
	background: white;
}

table.navi tr td {
	background: white;
}

.err {
	color: red;
}
</style>
</head>
<body>
	<table th:each="obj : ${datalist}">
		<form method="post" action="/edit">
		<input type="hidden" name="id" th:value="*{id}" />

	<table>
		<form method="post" action="/insert" id="form1">
			<input type="hidden" name="id" th:value="*{id}" />
			<tr>
				<td><label for="name">이름</label></td>
				<td><input type="text" name="name" class="name"/></td>
			</tr>
			<tr>
				<td><label for="phone1">전화번호</label></td>
				<td>
					<select name="phone1">
						<option value="(010)" selected="selected">010</option>
						<option value="(011)">011</option>
						<option value="(02)">02</option>
					</select> - 
					<input type="text" name="phone2" /> - 
					<input type="text" name="phone3" />
				</td>
			</tr>
			<tr>
				<td><label for="pos">주소</label></td>
				<td><input type="text" name="pos" /></td>
			</tr>
			<tr>
				<td><label for="email">이메일</label></td>
				<td><input type="text" name="email" /></td>
			</tr>
			<tr>
				<td><label for="sex">성별</label></td>
				<td>
					<input type="radio" name="sex" value="남성" checked="checked">남성
					<input type="radio" name="sex" value="여성">여성
				</td>
			</tr>
			<tr>
				<td><label for="memo">메모</label></td>
				<td><textarea rows="5" cols="60" name="memo"></textarea><h4><font>0</font> / 200</h4></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value = "수정"/>
					</form>
					<a th:href="@{'/'}"><button>취소</button></a>
				</td>
			</tr>
	</table>
</body>
</html>
